{% extends "AIMapper/base.html" %}
{% block head %}

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
   
    <script type="text/javascript">
    $(function () {
    	var chart;
    	$(document).ready(function () { 
        	$('#container').highcharts({
            chart: {
                type: 'scatter',
                margin: [70, 50, 60, 80],
                events: {
                    click: function (e) {
                        // find the clicked values and the series
                        var x = e.xAxis[0].value,
                            y = e.yAxis[0].value,
                            series = this.series[0];

                        // Add it
                        series.addPoint([x, y]);

                    }
                }
            },
            title: {
                text: 'User supplied data'
            },
            subtitle: {
                text: 'Click the plot area to add a point. Click a point to remove it.'
            },
            xAxis: {
                gridLineWidth: 1,
                minPadding: 0.2,
                maxPadding: 0.2,
                maxZoom: 60
            },
            yAxis: {
                title: {
                    text: 'Value'
                },
                minPadding: 0.2,
                maxPadding: 0.2,
                maxZoom: 60,
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            legend: {
                enabled: false
            },
            exporting: {
                enabled: false
            },
            plotOptions: {
                series: {
                    lineWidth: 1,
                    point: {
                        events: {
                            'click': function () {
                                if (this.series.data.length > 1) {
                                    this.remove();
                                }
                            }
                        }
                    }
                }
            },
            series: [{
                data: [[20, 20], [80, 80]]
            }]
        });
        });

    });
    </script>
    	
{% endblock %}
{% block content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Back Test</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
	
	<div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class = "col-lg-12">
                            <form role="form">
                                <div class="form-group col-lg-6">
                                    <label>Select Strategy</label>
                                    <select class="form-control">
                                        <option>Hidden Markov</option>
                                        <option>Recurrent Neural Network</option>
                                        <option>Fama French</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-3">
                                    <label class = " " for="teststrt">Start Date</label>
                                    <input class = "form-control col-sm-3" id="teststrt" type="date">
                                    
                                </div>
                                <div class="form-group col-lg-3">
                                    <label class = " " for="teststrt">End Date</label>
                                    <input class = "form-control col-sm-3" id="endstrt" type="date">
                                    
                                </div>
                                <button id = "reset" type="reset" class="btn btn-default col-sm-offset-8 col-sm-2" onclick = "visiblity_showAndHid('reset')">Reset</button> 
                                <button id = "execute" type="button" class="btn btn-default col-sm-2" onclick = "visiblity_showAndHid('execute')">Execute Test</button>
                            </form>
                            
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
        
         <form id = "execute_form" name = "execute" role="form" style = "display:none">
	    	<div class="col-lg-12">
	            <div class="panel panel-default">
	                <div class="panel-body">
	                	<div class = "col-lg-12">
	                	 <script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	                       	<div id="container" style="min-width: 310px; height: 400px; max-width: 700px; margin: 0 auto"></div>

	                    </div>  
	                </div>
	            </div>
        </div>
	        
   </form>
        
        
        
    </div>
    
    <div class = "row">
	   
	    </div>
</div>

        <!-- /#page-wrapper -->
{% endblock %}
